<mj-section padding-bottom="10px" padding-top="10px" background-color="#ffffff">
    <mj-column>
        <mj-text font-size="16px" line-height="24px" color="#000000">Bonjour <%= data.civility %>,
            <div>
              <br> Votre compte utilisateur (<%= data.username %>) vient d'être créé sur la plateforme Contrat d'apprentissage dématérialisé pour la fonction publique.
              <br><br>Si vous êtes à l'origine de cette demande,<br> merci de cliquer sur le lien ci-dessous afin d'activer votre compte : 
            </div>
          </mj-text>
        <mj-button font-size="16px" background-color="#000091" border-radius="4px" href="<%= data.publicUrl %>/auth/confirmation?activationToken=<%= data.activationToken %>">Cliquez ici pour confirmer votre compte</mj-button>
        <!-- <mj-text padding-top="20px" color="#19414C">
            Votre identifiant : <%= data.username %><br>
            Votre mot de passe temporaire : <%= data.tmpPwd %>
        </mj-text> -->
    </mj-column>
</mj-section>
